body {
    margin:0;
    position: relative;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: "Barlow-Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem; 
}

button {
    text-decoration: none;
    border:none;
    padding: 10px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Barlow-Condensed", sans-serif;
    width: 48%;
}

header {
    background-image: url("./images/illustration-devices.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    position:relative;
}

header::after {
    content: "";
    background-color: rgb(238,243,240);
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 50vh;
    top: 0;
    left: 0;
    transform: translateX(50%);
    border-radius: 0 0 0 35px;
}

nav {
    width: 90vw;
    margin: auto;
}
.navigation {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    /* display:none; */
    padding: 20px 40px;
    height: 30vh;
    background-color: white;
    -webkit-box-shadow: 10px 10px 40px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -13px rgba(0,0,0,0.75); 
}

hr {
    text-align:center;
    width: 100%;
    color:hsl(231, 7%, 65%);
}

.navigation span li a{
    color: hsl(231, 7%, 65%);
}
header img {
    position: relative;
    z-index: 3;
}
.navigation a{
    padding-left: 90px;
    padding-right: 90px;
}

.nav-icon {
    height: 40px;
    width: 40px;
    float: right;
    display:block;
}

.nav-icon div {
    width: 25px;
    height: 3px;
    background-color: #111;
    margin: 6px 0;
}

.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.cross {
    height: 33px;
    width: 33px;
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 10px
}
.cross::after, .cross::before {
    position: absolute;
    left: 15px;
    content: ' ';
    width: 2px;
    background-color: #333;
    height: 33px;
    width: 2px;
}

.cross::after {
    transform: rotate(45deg);
}
.cross::before {
    transform: rotate(-45deg);
}


/*main section*/
.project-tracking {
    width: 85%;
    margin:auto;
}

.headline span {
    color: white;
    background: black;
    border-radius: 15px;
    padding: 5px;
    font-weight: bolder;
}

.headline {
    text-transform:uppercase;
}

.sign-up button:first-child{
    background: red; 
}

.schedule {
    color: white;
    font-family: "Barlow-Condensed", sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
}

.sign-up button:last-child{
    background-color: white;
}
.preview {
    color: hsl(231, 7%, 65%);
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
}

/*Tablet width */
/* @media screen and (min-width: 530px) {
    header {
        background-size: cover;
    }
} */

/* Desktop width*/
/* @media screen and (min-width: 950px) {
    header {
        float: right;
        width: 50vw;
    }

}  */