body {
    margin:0;
    position: relative;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    max-width: 100%; 
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: "Barlow-Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem; 
    color: hsl(230, 29%, 20%);
}

header {
    height: auto;
    position:relative;
    width: 100%;
    margin-bottom: 60px;
    
}

header::after {
    content: "";
    background-color: rgb(238,243,240);
    width: 100%;
    z-index: -1;
    height: 390px;
    border-radius: 0 0 0 35px;
    max-width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

nav {
    width: 90vw;
    margin: auto;
}

#mobile-menu {
    position: absolute;
    top: 60px;
    left: 30px;
}
.navigation {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    padding: 20px 40px;
    height: 30vh;
    background-color: white;
    -webkit-box-shadow: 10px 10px 40px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -13px rgba(0,0,0,0.75); 
}

ul {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    /* padding: 20px 40px; */
    height: 100%;
}

hr {
    /* text-align:center; */
    width: 100%;
    color:hsl(231, 7%, 65%);
}

.navigation span a{
    color: hsl(231, 7%, 65%);
    margin-left: 15px;
}
.logo {
    position: relative;
    z-index: 3;
    margin-left: 30px;
    margin-top: 30px;
}

.devices {
    height: auto;
    width: 100%;
    margin-top: 50px;
    max-width: 100%;

}
.navigation a{
    padding-left: 90px;
    padding-right: 90px;
}

.nav-icon {
    height: 28px;
    width: 27px;
    float: right;
    display:block;
    margin-right: 30px;
    margin-top: 30px;
}

.nav-icon div {
    width: 25px;
    height: 3px;
    background-color: #111;
    margin: 6px 0;
}

.nav-icon div:nth-child(3){
    margin-bottom: 0;
}

.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.cross {
    height: 33px;
    width: 33px;
    position: absolute;
    z-index: 3;
    right: 30px;
    top: 30px;
}
.cross::after, .cross::before {
    position: absolute;
    left: 15px;
    content: ' ';
    width: 2px;
    background-color: #333;
    height: 33px;
    width: 2px;
}

.cross::after {
    transform: rotate(45deg);
}
.cross::before {
    transform: rotate(-45deg);
}


/*main section*/
.project-tracking {
    width: 90%;
    margin:auto;
}

.headline span {
    color: white;
    background: black;
    border-radius: 15px;
    padding: 8px;
    font-weight: bolder;
    display: inline-block;
}

.headline {
    text-transform:uppercase;
}

.headline p {
    letter-spacing: 2px;
    color: hsl(230, 11%, 40%);
}

.paragraph {
    color: hsl(230, 11%, 40%);
}

.schedule, .preview {
    padding: 15px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    display:inline-block;
    text-align: center;
    width: 40%;
}

.schedule {
    color: white;
    background: red; 
    font-family: "Barlow-Condensed", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
}

.preview {
    color: hsl(231, 7%, 65%);
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
    background-color: white;
    padding-left: 0;
    font-size: 0.8rem;
}

@media screen and (min-width: 320px) and (max-width: 360px){
    .project-tracking {
        text-align: center;
    }
}

/* Desktop width*/
@media screen and (min-width: 900px) {

    body {
        display: flex;
        flex-direction: row-reverse;
    }
    header {
        width: 55vw;
        margin-bottom: 0;
    }

    header::after {
        transform: translateX(0);
        height: 300px;
        max-width: 100%;
    }

    .logo {
        position: fixed;
        top: 0;
        left: 3%;
    }

    .project-tracking {
        margin-top: 100px;
        display: inline-block;
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }

    .headline p,
    .headline h1 {
        max-width: 90%;
    }

    .headline h1 {
        font-size: 3.0rem;
    }

    .paragraph {
        max-width: 90%;
    }

    .sign-up {
        margin-top: 50px;
    }

    .schedule, .preview {
        padding-left: 35px;
        padding-right: 35px;
        font-size: 1.1rem;
        width: 30%;
    }

    .schedule {
        font-size: 0.8rem;
    }

    .hide-element, #mobile-menu {
        border: 0;
        width: 500px;
        height: 50px;
        position: static;
        clip: unset;
        padding: 10px;
        box-shadow: unset;
        padding: 0;
        margin-top: 10px;
    }
    .nav-icon {
        display: none;
    }

    .navigation {
        flex-direction: row;
        width: auto;
        height: 30px;
        margin: 0;
        background-color: unset;
        font-size: 1.0rem;
    }

    ul {
        flex-direction: row;
        width: auto;
        height: auto;
        margin: 0;
        background-color: unset;
        font-size: 1.0rem;
    }

    hr {
        margin: 0;
        padding: 0;
    }

    .navigation a {
        padding: 20px;
    }
    hr {
        max-width: 1px;
        height: 1px;
        margin: 0;
        padding: 0;
    }
}